.DS_Store
.thumbs.db
node_modules

*.lock
.env.sentry-build-plugin
#package-lock.json

deploy.sh

# Quasar core related directories
.quasar
/dist


# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/hmrc
/docs

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln


service.yaml
pod.yaml

.env

# Sentry Config File
.env.sentry-build-plugin
.history