.custom-input {
  display: flex;
  align-items: center;
  border-radius: 12px;

  .q-field__native {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  &.q-field--outlined .q-field__control:before {
    border-radius: 12px;
  }

  &.q-field--outlined .q-field__control:hover:before {
    border-radius: 12px;
  }

  &.q-field--outlined .q-field__control {
    border-radius: 12px;
  }
}
